.quick-translation-box{
    position: absolute;
    height: 4rem;
    width: fit-content;

    background-color: #202020c4;
    color: turquoise;

    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hilight-box{
    color: red;
    background-color: yellow;
}

.hover-box{
    color: lightblue;
    background-color: #202020;
}

