.quick-translation-box{
    position: absolute;
    height: 4rem;
    width: fit-content;

    background-color: #202020c4;
    color: turquoise;

    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


// class name must match variable 'hilight' in createSpanElement() in content-script.js
.hilight-box-clicked{
    color: red;
    background-color: yellow;
}

// class name must match variable 'hilight' in createSpanElement() in content-script.js
.hilight-box-hovered{
    color: lightblue;
    background-color: #202020;
}

// add some fading transitions

